
@{
    ViewBag.Title = "Test";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Test</h2>


<div class="header-content width_common">
    <ul class="breadcrumb" data-campaign="Header">
        <li><a data-medium="Menu-SucKhoe" href="/suc-khoe" title="Sức khỏe">Sức khỏe</a></li>
        <li><a data-medium="Menu-DinhDuong" href="/suc-khoe/dinh-duong" title="Dinh dưỡng">Dinh dưỡng</a></li>
        <span id="parentCateDetail" data-cate="1003792"></span>
        <span id="site-sub-id" data-cate="1003792"></span>
    </ul>
    <span class="date">Thứ ba, 5/1/2021, 08:00 (GMT+7)</span>
</div>
<h1 class="title-detail">Dinh dưỡng hợp lý giúp phục hồi bệnh</h1>
<p class="description">Bữa ăn đa dạng, đầy đủ 4 nhóm thực phẩm, bổ sung thêm các loại axit amin giúp người suy dinh dưỡng, thường đau ốm… cải thiện sức khỏe.</p>
<article class="fck_detail ">
    <p class="Normal">Dinh dưỡng là một phần thiết yếu để nuôi cơ thể và đảm bảo các hoạt động sống của con người. Tuy nhiên vẫn còn nhiều bệnh nhân, nhất là người cao tuổi bị suy dinh dưỡng khi nhập viện và con số này có thể tăng cao hơn nếu phải điều trị những căn bệnh nặng.</p><p class="Normal">Nguyên nhân suy dinh dưỡng ở người bệnh có thể kể đến như sự thiếu hụt trong chế độ ăn, tăng nhu cầu sử dụng năng lượng và đạm để chống lại tình trạng bệnh; ngoài ra, còn có biến chứng từ bệnh nền như hấp thu kém và mất chất dinh dưỡng quá mức.</p><p class="Normal">Thiếu hụt dinh dưỡng trong điều trị bệnh có thể khiến lượng protein cần thiết trong cơ thể giảm sút, dẫn đến suy giảm miễn dịch và đề kháng. Sự thiếu hụt này có thể làm gia tăng tần suất nguy cơ biến chứng và mức độ nhiễm trùng, khiến người bệnh lâu hồi phục, kéo dài thời gian điều trị, tăng tỷ lệ tái nhập viện và thậm chí còn có nguy cơ tử vong.</p>
    <figure data-size="true" itemprop="associatedMedia image" itemscope="" itemtype="http://schema.org/ImageObject" class="tplCaption">
        <meta itemprop="url" content="https://i1-suckhoe.vnecdn.net/2020/12/30/image001-5954-1609321001.jpg?w=0&h=0&q=100&dpr=2&fit=crop&s=Pzjr-iQkL8srrrPbaMEHKg">
        <meta itemprop="width" content="626">
        <meta itemprop="height" content="417">
        <meta itemprop="href" content="">
        <div class="fig-picture" style="padding-bottom: 62.238805970149%;position: relative;">
            <picture>
                <!--[if IE 9]><video style="display: none;"><![endif]-->
                <source data-srcset="https://i1-suckhoe.vnecdn.net/2020/12/30/image001-5954-1609321001.jpg?w=680&h=0&q=100&dpr=1&fit=crop&s=W5g9WQpTAtKOdC59GC7tjQ 1x, https://i1-suckhoe.vnecdn.net/2020/12/30/image001-5954-1609321001.jpg?w=1020&h=0&q=100&dpr=1&fit=crop&s=liHhr1flHi7xu86Ykwj26g 1.5x, https://i1-suckhoe.vnecdn.net/2020/12/30/image001-5954-1609321001.jpg?w=680&h=0&q=100&dpr=2&fit=crop&s=1pbn4BvfKMFlJTj-DfzwtQ 2x">
                <!--[if IE 9]></video><![endif]-->
                <img itemprop="contentUrl" style="position: absolute;width:626px;left:22px;" loading="lazy" intrinsicsize="680x0" alt="Lonely" class="lazy" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="https://i1-suckhoe.vnecdn.net/2020/12/30/image001-5954-1609321001.jpg?w=680&h=0&q=100&dpr=1&fit=crop&s=W5g9WQpTAtKOdC59GC7tjQ">
            </picture>
        </div>
        <figcaption itemprop="description">
            <p class="Image">Người cao tuổi, thường bệnh tật, không ăn uống đầy đủ khiến cho cơ thể suy giảm sức đề kháng. Ảnh: <em>freepik</em>.</p>
        </figcaption>
    </figure><p class="Normal">Một bữa ăn dinh dưỡng cần đáp ứng đầy đủ 4 nhóm thực phẩm gồm chất đạm (protein), chất béo (lipid), chất bột đường (glucid), vitamin và khoáng chất. Mỗi ngày cần ăn đa dạng thực phẩm, khoảng 15 loại khác nhau để cung cấp nhiều loại dưỡng chất hỗ trợ cải thiện sức khỏe, nâng cao sức đề kháng. Trong đó, protein chiếm khoảng 50% khối lượng thô của tế bào, là một trong những thành phần thiết yếu cấu trúc, hình thành, duy trì và tái tạo cơ.</p><p class="Normal">Axit amin là thành phần quan trọng cấu tạo nên các protein trong cơ thể. Trong số, khoảng 21 loại axit amin, có 9 loại cơ thể không thể tổng hợp được mà phải hấp thụ từ thức ăn. Chúng được gọi là các axit amin thiết yếu gồm có isoleucine, leucine, lysine, methionine, phenylalanine, threonine, tryptophan, valine, histidine. Nếu cơ thể thiếu protein có thể dẫn đến nhiều hậu quả như như suy dinh dưỡng, chậm lớn, hay ốm đau, bệnh tật do sức đề kháng giảm.</p>
    <figure data-size="true" itemprop="associatedMedia image" itemscope="" itemtype="http://schema.org/ImageObject" class="tplCaption">
        <meta itemprop="url" content="https://i1-suckhoe.vnecdn.net/2020/12/30/image002-8853-1609321001.jpg?w=0&h=0&q=100&dpr=2&fit=crop&s=XuyyRiAtwrVbBloiVuQ5tg">
        <meta itemprop="width" content="626">
        <meta itemprop="height" content="416">
        <meta itemprop="href" content="">
        <div class="fig-picture" style="padding-bottom: 62.089552238806%;position: relative;">
            <picture>
                <!--[if IE 9]><video style="display: none;"><![endif]-->
                <source data-srcset="https://i1-suckhoe.vnecdn.net/2020/12/30/image002-8853-1609321001.jpg?w=680&h=0&q=100&dpr=1&fit=crop&s=6ZmR_J9H3jbtshY4I4LqDQ 1x, https://i1-suckhoe.vnecdn.net/2020/12/30/image002-8853-1609321001.jpg?w=1020&h=0&q=100&dpr=1&fit=crop&s=hWgkDBnF9XKuV_YGEegatQ 1.5x, https://i1-suckhoe.vnecdn.net/2020/12/30/image002-8853-1609321001.jpg?w=680&h=0&q=100&dpr=2&fit=crop&s=i5pEMtjsZJOHzv_Uc18-pg 2x">
                <!--[if IE 9]></video><![endif]-->
                <img itemprop="contentUrl" style="position: absolute;width:626px;left:22px;" loading="lazy" intrinsicsize="680x0" alt="Legumes," class="lazy" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="https://i1-suckhoe.vnecdn.net/2020/12/30/image002-8853-1609321001.jpg?w=680&h=0&q=100&dpr=1&fit=crop&s=6ZmR_J9H3jbtshY4I4LqDQ">
            </picture>
        </div>
        <figcaption itemprop="description">
            <p class="Image">Các loại thực phẩm như đậu, trứng, thịt... có chứa nhiều dưỡng chất giúp người bệnh nhanh hồi phục sức khỏe. Ảnh: <em>freepik</em>.</p>
        </figcaption>
    </figure><p class="Normal">Chế độ dinh dưỡng hợp lý, bổ sung axit amin đầy đủ đóng vai trò quan trọng hỗ trợ người bệnh nhanh chóng hồi phục, góp phần nâng cao miễn dịch và tăng sức đề kháng cho cơ thể. Người bệnh có thể bổ sung axit amin qua các loại thực phẩm giàu đạm như thịt gà, thịt bò, cá, gan, trứng... Những loại rau củ quả như hạnh nhân, hạt điều, đậu lăng, đậu xanh... cũng có lợi cho cơ thể. Người trưởng thành nên ăn khoảng 400-500 gram rau mỗi ngày. Bạn nên phối hợp các axit amin từ nguồn gốc động và thực vật trong bữa ăn hàng ngày vì không thực phẩm nào có đủ các loại axit amin này.</p><p class="Normal">Hiểu được tầm quan trọng của dinh dưỡng đối với quá trình phục hồi bệnh, nhiều công ty đã cho ra đời những thực phẩm bảo vệ sức khỏe ví dụ như MyVita Royal. Sản phẩm mong muốn góp phần hỗ trợ dinh dưỡng cho người mới ốm dậy, người cao tuổi, người cần tăng cường sức khỏe, sức đề kháng kém, mệt mỏi.</p><p class="Normal">MyVita Royal với thành phần 8 loại axit amin từ thiên nhiên và những dược liệu quý như đông trùng hạ thảo, nhân sâm và sữa ong chúa. Sự kết hợp của axit amin và dược liệu quý bổ sung axit amin, hỗ trợ tăng cường sức khỏe; góp phần giảm mệt mỏi, suy nhược cơ thể, ăn ngon.</p><div>
        <p style="text-align:right;"><strong>Ngọc An</strong></p>
        <div class="box_quangcao list_news mg_bottom_20">
            <div class="block_image_news width_common">
                <div class="thumb"><a href="#" rel="nofollow"><img alt="Dinh dưỡng hợp lý giúp phục hồi bệnh - 2" class="img_more" data-natural-h="416" data-natural-width="624" src="https://i1-suckhoe.vnecdn.net/2020/12/30/MY-VITA-ROYAL-5238-1609321002.jpg?w=0&h=0&q=100&dpr=1&fit=crop&s=LLrB0L0cCqXzCqQX6SR4rQ"></a></div>
                <div>
                    <p class="Normal">Liều dùng: mỗi ngày uống 1-2 chai MyVita Royal có thể góp phần giúp cho cơ thể bổ sung những dưỡng chất cần thiết, hỗ trợ nâng cao sức khỏe tổng thể. Liên hệ qua số hotline 1900 545469 hoặc <a href="https://myvita.vn/my-vita-royal/" rel="nofollow" target="_blank">fanpage</a> MyVita - Chuyên gia dinh dưỡng, <a href="https://myvita.vn/my-vita-royal/" rel="nofollow" target="_blank">website</a> để biết thêm chi tiết.</p>
                    <p class="Normal">Thực phẩm này không phải là thuốc, không có tác dụng thay thế thuốc chữa bệnh. Đọc kỹ hướng dẫn sử dụng trước khi dùng. Giấy phép quảng cáo số 3870/2020/XNQC-ATTP do Cục An toàn Thực phẩm - Bộ Y tế cấp ngày 3/12/2020. Đơn vị chịu trách nhiệm phân phối chính: Công ty TNHH Dược Phẩm Đô Thành. Địa chỉ: C4-C8 Bửu Long, phường 15, quận 10, TP HCM.</p>
                </div>
            </div>
        </div>
    </div>
</article>
<div class="footer-content  width_common">
    <a href="/suc-khoe" class="save back-folder"><svg class="ic ic-back"><use xlink:href="#Arrow-Right-2"></use></svg>&nbsp;&nbsp;Trở lại Sức khỏe<span class="tip">Trở lại Sức khỏe</span></a>
    <div class="myvne_save_for_later" data-token="ca0e24f6b8ee642a6b86f4e31364684c" data-article-id="4212847" title="Lưu bài viết"></div>
    <div class="social">
        <span class="txt">Chia sẻ</span>
        <a href="javascript:;" class="fb btn_share" data-type="fb" rel="nofollow" title="Chia sẻ bài viết lên facebook">
            <svg class="ic ic-facebook"><use xlink:href="#Facebook"></use></svg>
        </a>
        <a href="javascript:;" class="tw btn_share get-link-bitly" data-type="tw" rel="nofollow" data-url="https://vnexpress.net/dinh-duong-hop-ly-giup-phuc-hoi-benh-4212847.html" title="Chia sẻ bài viết lên twitter">
            <svg class="ic ic-twitter"><use xlink:href="#Twitter"></use></svg>
        </a>
        <a href="javascript:;" onclick="window.open('https://mail.google.com/mail/u/0/?view=cm&fs=1&tf=1&su=Dinh+d%C6%B0%E1%BB%A1ng+h%E1%BB%A3p+l%C3%BD+gi%C3%BAp+ph%E1%BB%A5c+h%E1%BB%93i+b%E1%BB%87nh&body=https%3A%2F%2Fvnexpress.net%2Fdinh-duong-hop-ly-giup-phuc-hoi-benh-4212847.html', '_blank')" class="mail" rel="nofollow" title="Mail">
            <svg class="ic ic-email"><use xlink:href="#Mail"></use></svg>
        </a>
        <a href="javascript:;" class="share-link btn_copy" rel="nofollow" title="Copy link">
            <svg class="ic ic-link"><use xlink:href="#Link"></use></svg>
            <span class="tip" style="display: none;">Copy link thành công</span>
        </a>
    </div>
</div>
<div id="_detail_topic" class="lazier"></div>

